extends layout
block css
  link(rel='stylesheet', href='./css/airmap.css')
block content
  #windyty
  p Displayed parameters: 
    span#state
  input#range(type='range', min='0', max='10', style='width:100%;')

block append js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js')
  script(src='./js/airmap.js')
  script(async='', defer='', src='http://api.windyty.com/v2.1/boot.js')