extends layout
block css
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='./style/css/airmap.css')
block content
  #map-wrapper
    #windyty
    #type-menu
      .ui.fluid.selection.dropdown
        input(type='hidden', name='viewType')
        i.dropdown.icon
        .default.text Select
        .menu
          .item(value='1') pm2.5
          .item(value='2') pm2.5 NASA
          .item(value='3') 溫度
          .item(value='4') 濕度
    #bar
      img(src='./img/pm25_bar.png')
    #site-menu
      button.ui.inverted.grey.button 篩選條件
      .ui.modal#select-window
        i.close.icon
        .header
          | 篩選條件
        .content
          .ui.relaxed.list
            .item
              .ui.master.checkbox
                input(type='checkbox')
                label 全選
              .list
                .item
                  .ui.child.checkbox
                    input(type='checkbox', name='LASS')
                    label LASS
                .item
                  .ui.child.checkbox
                    input(type='checkbox', name='Airbox')
                    label AirBox
                .item
                  .ui.child.checkbox
                    input(type='checkbox', name='Indie')
                    label Indie
                .item
                  .ui.child.checkbox
                    input(type='checkbox', name='ProbeCube')
                    label ProbeCube
        .actions
          button.ui.button 確定


block append js
  script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
  script(async='', defer='', src='http://api.windyty.com/v2.1/boot.js')
  script(src='./js/airmap.js')