doctype html
html
  head
    link(rel='stylesheet', href='./css/airmap.css')
  body
    #windyty
    script(type='text/javascript' src='http://code.jquery.com/jquery-2.2.0.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js')
    script(src='./js/airmap.js')
    script(async='', defer='', src='http://api.windyty.com/v2.0/boot.js')
