doctype html
html
  head
  title airmap
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='Sakamoto')
  link(rel='stylesheet', href='./style/css/semanticui.css')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css')
  block css

  body

  block content

  script(src='./js/jq.js')
  //- script(src='http://code.jquery.com/jquery-2.2.3.js')
  script(src='./js/semanticui.js')
  //- script(src='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js')

  block js
